{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>ShopMAK</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-4">Formulario Producto</h1>
            <hr class="mt-0 mb-8">
            {% block content %}
            <form>
                {% csrf_token %}
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationServer01">Nombre {{ serializer_producto.Nombre_producto }}</label>
                </div>
                  <div class="col-md-4 mb-3">
                  <label for="validationServer01">Marca {{ serializer_producto.Marca_producto }}</label>
                </div>
                  <div class="col-md-4 mb-3">
                  <label for="validationServer01">Modelo {{ serializer_producto.Modelo_producto }}</label>
                </div>
                  <div class="col-md-4 mb-3">
                  <label for="validationServer01">Precio {{ serializer_producto.Precio_producto }}</label>
                </div>
                  <div class="col-md-4 mb-3">
                  <label for="validationServer01">Cantidad {{ serializer_producto.Cantidad_producto }}</label>
                </div><div class="col-md-4 mb-3">
                  <label for="validationServer01">Descripcion {{ serializer_producto.Descripcion_producto }}</label>
                </div>
                  <div class="col-md-4 mb-3">
                  <label for="validationServer01">Usuario {{ serializer_producto.Usuario }}</label>
                </div>
                  <div class="col-md-4 mb-3">
                  <label for="validationServer01">Categoria {{ serializer_producto.Categorias }}</label>
                </div>
                  <div class="col-md-4 mb-3">
                  <label for="validationServer01">Status {{ serializer_producto.Status_producto }}</label>
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Guardar</button>
            </form>
            {% endblock %}

        </div>
    </div>
</div>
</body>
</html>