{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>ShopMAK</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-4"> Formulario Pago</h1>
            <hr class="mt-0 mb-8">
            {% block content %}
                <form action="" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Producto {{ pagoform.Productos }}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Envio {{ pagoform.Envio }}</label>
                    </div>
                    <div class="col-md-4">
                        <label>Total a Pagar {{ pagoform.Total }}</label>
                    </div>
                    <div class="col-md-4">
                         <label>Nombre del la Tarjeta {{ pagoform.Nombre_tarjeta }}</label>
                    </div>
                    <div class="col-md-4">
                         <label>Mes {{ pagoform.Mes_tarjeta }}</label>
                    </div>
                    <div class="col-md-4">
                        <label>Año {{ pagoform.año_tarjeta }}</label>
                    </div>
                    <div class="col-md-4">
                        <label>Codigo de Seguridad {{ pagoform.CodigoSeg_Tarjeta }}</label>
                    </div>
                    <div class="col-md-4">
                        <label>Numero de la Tarjeta {{ pagoform.Numero_tarjeta }}</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
                <a class="btn btn-danger" href="/pago/back/">Cancelar</a>
                </form>
            {% endblock %}
        </div>

    </div>

</div>

</body>
</html>