{% extends 'base.html' %}
{% block contet %}
    <div class="container">
        <div class="row justify-content-center">
            <h2>PERFIL</h2>
            <table class="table table-hover table-dark">
                <tr class="bg-info">
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Calle</th>
                    <th scope="col">Colonia</th>
                    <th scope="col">Codigo postal</th>
                    <th scope="col">Categorias</th>
                    <th scope="col">Status</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for foo in object_list %}
                    <tr>
                        <th scope="row">{{ foo.id }}</th>
                        <td>{{ foo.Nombre_producto }}</td>
                        <td>{{ foo.Marca_producto }}</td>
                        <td>{{ foo.Modelo_producto }}</td>
                        <td>{{ foo.Precio_producto }}</td>
                        <td>{{ foo.Cantidad_producto }}</td>
                        <td>{{ foo.Descripcion_producto }}</td>
                        <td>{{ foo.Usuario }}</td>
                        <td>{{ foo.Categorias }}</td>
                        <td>{{ foo.Status_producto }}</td>
                        <td><a class="btn btn-outline-success btn-sm" href="/index/back/editar/{{ foo.pk }}">Editar</a></td>
                        <td><a class="btn btn-outline-danger btn-sm" href="/index/back/borrar/{{ foo.pk }}">Borrar</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock contet %}